/* neumorphism card with rounded corners */
.landing-card {
  background: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent-main);
}

.landing-description {
  font-size: 1.33rem;
  font-weight: 300;
  color: var(--accent-secondary);
}
