header {
  position: fixed;
  top: 0;
  z-index: 100;
}

.global-navbar {
  margin-bottom: 6rem;
}

.global-navbar-hidden {
  /* hide */
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.navbar {
  position: fixed;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;

  font-size: 1.33rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0 1rem;

  /* background-color with 0.66 opacity */
  background-color: rgba(255, 255, 255, 0.815);
}

#navbar-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--accent-secondary);
  padding: 0.66rem 0;
  border-bottom: 0.1rem solid transparent;
  width: auto;
}
#navbar-tab:hover {
  color: var(--accent-main);
  transition: 0.2s ease-in-out;
  font-size: 1.66rem;
}

.active {
  color: var(--accent-main);
  /* border-bottom: 0.1rem solid var(--accent-tertiary); */
  /* border: none;
  border-radius: 0.166rem;
  padding: 0.3rem 0;
  margin: 0.5rem;
  background-color: var(--light-bg-secondary); */
}


/* media query for mobile navbar -- should be a 2x2 grid */
@media screen and (max-width: 768px) {
  .global-navbar {
    margin-bottom: 10rem;
  }

  .navbar {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.1rem;

    /* make navbar appear when scrolling down and disappear when scrolling up */
    transition: 0.5s;
    transform: translateY(0);
  }

  #navbar-tab {
    border: none;
    border-radius: 0.166rem;
    padding: 0.3rem 0;
    background-color: var(--light-bg-secondary);
    margin: 0.5rem;
  }
}
