.global-navbar {
  margin-bottom: 6rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;

  font-size: 1.33rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  padding: 0 1rem;
}

#navbar-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--accent-secondary);
  padding: 1rem 0;
  border-bottom: 0.1rem solid transparent;
}
#navbar-tab:hover {
  color: var(--accent-main);
  transition: 0.2s ease-in-out;
  font-size: 1.66rem;
}

.active {
  color: var(--accent-main);
}


/* media query for mobile navbar -- should be a 2x2 grid */
@media screen and (max-width: 768px) {
  .global-navbar {
    margin-bottom: 10rem;
  }

  .navbar {
    grid-template-columns: repeat(2, 1fr);

    /* make navbar appear when scrolling down and disappear when scrolling up */
    transition: 0.5s;
    transform: translateY(0);
  }

  #navbar-tab {
    border: none;
    border-radius: 0.1rem;
    padding: 0.5rem 0;
    background-color: var(--light-bg-main);
    margin: 0 0.5rem;
  }
}
